<div class="center hero-unit">
  <h1>WordIntel by 5Bytes</h1>
  <p class="lead">Puts Intelligence in your communication.</p>
  <%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>